<template>
  <v-form
    v-model="valid" ref="form" lazy-validation
  >
    <v-text-field
      label="Movie Name"
      v-model="name"
      :rules="nameRules"
      required
    ></v-text-field>
    <v-textarea
      name="input-7-1"
      label="Movie Description"
      v-model="description"
      multi-line
    ></v-textarea>
    <v-select
      label="Movie Release Year"
      v-model="release_year"
      :items="years"
      required
      :rules="releaseRules"
    ></v-select>
    <v-text-field
      label="Movie Genre"
      v-model="genre"
      required
      :rules="genreRules"
    ></v-text-field>
    <v-btn
      @click="submit"
      :disabled="!valid"
    >Submit</v-btn>
    <v-btn
      @click="clear"
    >Clear</v-btn>
  </v-form>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    valid: true,
    name: '',
    description: '',
    genre: '',
    release_year: '',
    nameRules: [
      v => !!v || 'Movie name is required'
    ],
    genreRules: [
      v => !!v || 'Movie genre year is required',
      v => (v && v.length <= 80) || 'Genre must be less than equal to 80 characters.'
    ],
    releaseRules: [
      v => !!v || 'Movie releae year is requried'
    ],
    select: null,
    years: [
      2015, 2016, 2017, 2018
    ]
  }),
  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        return axios({
          method: 'post',
          data: {
            name: this.name,
            description: this.description,
            release_year: this.release_year,
            genre: this.genre
          },
          url: '/movies',
          header: {
            'Content-Type': 'application/json'
          }
        })
          .then(() => {
            this.$swal(
              'Greate!',
              'Movie added successfully',
              'success'
            )
            this.$router.push({name: 'Home'})
            this.$refs.form.reset()
          })
          .catch(() => {
            this.$swal(
              'Oh! oo',
              'Could not add the movie',
              'error'
            )
          })
      }
      return true
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>

<style>

</style>
