
<template>
  <v-layout row wrap>
    <v-flex xs4 v-for="movie in movies" :key="movie._id" v-if="current_user">
      <v-card>
        <v-card-title primary-title>
          <div>
            <div class="headline">
              <v-btn flate v-bind:to="`/movies/${movie._id}`">
                {{movie.name}}
              </v-btn>
            </div>
            <span class="grey--text">
              {{movie.release_year}} .
              {{movie.genre}}
            </span>
          </div>
        </v-card-title>
        <v-card-text>
          {{movie.description}}
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script type="text/javascript">
import axios from 'axios'

export default {
  name: 'Movies',
  data () {
    return {
      current_user: 'default',
      movies: []
    }
  },
  mounted () {
    this.fetchMovies()
  },
  methods: {
    async fetchMovies () {
      const token = window.localStorage.getItem('auth')
      return axios({
        method: 'get',
        url: '/movies',
        headers: {
          Authorization: `JWT ${token}`,
          'Content-Type': 'application/json'
        }
      })
        .then((res) => {
          this.movies = res.data.movies
          console.log(this.current_user)
          console.log(res.data)
          this.current_user = res.data.current_user
          console.log(this.current_user)
        })
        .catch(() => {
          this.$swal(
            'Ohoo!!',
            'Somethign went wrong',
            'error'
          )
        })
    }
  }
}
</script>

<style scoped>

</style>
