<template>
  <v-form
    v-model="valid"
    ref="form"
    lazy-validation
  >
    <v-text-field
      label="Email"
      v-model="email"
      :rules="emailRules"
      required
    ></v-text-field>
    <v-text-field
      label="Passowrd"
      v-model="password"
      required
    ></v-text-field>
    <v-btn @click="submit" :disabled="!valid">Submit</v-btn>
    <v-btn @click="clear">Clear</v-btn>
  </v-form>
</template>

<script>
import axios from 'axios'
import bus from '../bus'

export default {
  data: () => ({
    valid: true,
    email: '',
    password: '',
    emailRules: [
      v => !!v || 'Email is requried',
      v => /\S+@\S+\.\S+/.test(v) || 'E-mail must be valid'
    ]
  }),
  methods: {
    async submit () {
      return axios({
        method: 'post',
        url: '/users/login',
        data: {
          email: this.email,
          password: this.password
        },
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then((res) => {
          // window.localStorage.setItem('auth', res.response.data.token)
          this.$swal(
            'Greate!',
            'You are already to start!',
            'success'
          )
          bus.$emit('refreshUser')
          this.$router.push({name: 'Home'})
        })
        .catch((err) => {
          const message = err.response.data.message
          this.$swal(
            'Opp!',
            `${message},
            'error`
          )
          this.$router.push({name: 'Login'})
        })
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>

<style>

</style>
