<template>
  <v-layout row wrap>
    <v-card>
      <v-card-title primary-title>
        <div>
          <div class="headline">{{movie.name}}</div>
          <span class="grey--text">
            {{movie.release_year}} . {{movie.genre}}
          </span>
        </div>
      </v-card-title>
      <h6 class="card-title" @click="rate">Rate this movie</h6>
      <v-card-text>
        {{movie.description}}
      </v-card-text>
    </v-card>
  </v-layout>
</template>

<script>
import axios from 'axios'
import Vue from 'vue'
import StarRating from 'vue-star-rating'

const wrapper = document.createElement('div')
const state = {
  note: 0
}
const RatingComponent = Vue.extend({
  data () {
    return {rating: 0}
  },
  watch: {
    rating (newVal) {
      state.note = newVal
    }
  },
  template: `
    <div class="rating">
      Hoe war your experience getting help with this issue ?
      <star-rating v-model="rating" :show-rating="false"></star-rating>
    </div>`,
  components: {
    'star-rating': StarRating
  }
})

const component = new RatingComponent().$mount(wrapper)

export default {
  name: 'Movie',
  data () {
    return {
      movie: []
    }
  },
  mounted () {
    this.fetchMovie()
  },
  methods: {
    async rate () {
      this.$swal({
        content: component.$el,
        buttons: {
          confirm: {
            value: 0
          }
        }
      })
        .then(() => {
          const movieId = this.$route.params.id
          return axios({
            method: 'post',
            data: {
              rate: state.note
            },
            url: `/movies/rate/${movieId}`,
            headers: {
              'Content-Type': 'application/json'
            }
          })
            .then(() => {
              this.$swal(`Thank you for rating! ${state.note}`, 'success')
            })
            .catch((err) => {
              const message = err.response.data.message
              this.$swal(`Oh oo!`, `${message}`, 'error')
            })
        })
    },
    async fetchMovie () {
      return axios({
        mehod: 'get',
        url: `/api/movies/${this.$route.params.id}`
      })
        .then((res) => {
          this.movie = res.data
        })
        .catch(() => {
          this.$swal(
            'Op!',
            'Something went wrong',
            'error'
          )
        })
    }
  }
}
</script>

<style>

</style>
