<template>
  <v-form
    v-model="valid"
    ref="form"
    lazy-validation
  >
    <v-text-field
      label="Name"
      v-model="name"
      required
    ></v-text-field>
    <v-text-field
      label="Email"
      v-model="email"
      :rules="emailRules"
      required
    ></v-text-field>
    <v-text-field
      label="Password"
      v-model="password"
      required
    ></v-text-field>
    <v-text-field
      name="input-7-1"
      label="Confirm Password"
      v-model="confirm_password"
    ></v-text-field>
    <b-btn
      @click="submit"
      :disabled="!valid"
    >Submit</b-btn>
    <v-btn
      @click="clear"
    >Clear</v-btn>
  </v-form>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    valid: true,
    name: '',
    email: '',
    password: '',
    confirm_password: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /\S+@\S+\.\S+/.test(v) || 'E-mail must be valid'
    ]
  }),
  methods: {
    async submit () {
      if (this.$refs.form.validate()) {
        return axios({
          method: 'post',
          url: '/users/register',
          data: {
            name: this.name,
            email: this.email,
            password: this.password
          },
          headers: {
            'Content-Type': 'application/json'
          }
        })
          .then(() => {
            this.$swal(
              'Greate!',
              'You have been successfully registered',
              'success'
            )
            this.$router.push({name: 'Login'})
          })
          .catch((err) => {
            const message = err.response.data.message
            this.$swal(
              'Opp!',
              `${message}`,
              'error'
            )
          })
      }
      return true
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>

<style>

</style>
