#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
 }
 #inspire {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
 }
 .container.fill-height {
  align-items: normal;
 }
 a.side_bar_link {
  text-decoration: none;
 }
 